@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
body{
    background-color: rgb(0, 89, 255);
}
.alignment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 2%;
}
.border{
    position: relative;
    background-color: white;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35vw;
    margin-top: 2%;
    padding: 2%;
    border-radius: 12px;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}
.btns2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    align-items: center;
    width: 30vw;
    margin-top: 2%;
}
.button{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-right: 100%;
}
.button button{
    height: 30px;
    width: 100px;
    margin-top: 5%;
    border-radius: 6px;
    margin-right: 5%;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}
.logout{
    height: 30px;
    width: 100px;
}
.logout button{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    border: 2px solid black;
    background-color: white;
}
.logout button:hover{
    background-color: black;
    color: white;
}
.select{
    height: 30px;
    width: 100px;
    border-radius: 6px;
    background-color: white;
}
.select select{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    border: 2px solid black;
    background-color: white;
}
.select:hover{
    background-color: black;
    color: white;
}
.name{
    font-size: larger;
    margin-right: 20%;
}
.identity{
    font-size: large;
}

.addBtn{
    height: 30px;
    width: 100px;
    /* margin-top:3%;
    margin-right: 28%; */
}
.addBtn button{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: 2px solid black;
    background-color: white;
}
.addBtn button:hover{
    background-color: black;
    color: white;
}
.button button:hover{
    background-color: rgba(228, 221, 221, 0.877);
    color: black;
}
.btnUpdateandDelete button{
    margin-top: 10%;
    height: 30px;
    width: 100px;
    border-radius: 6px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.75);
}
.btnUpdateandDelete{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 70%;
    position: absolute;
    top: 25%;
}
.updt:hover{
    background-color: rgba(228, 221, 221, 0.877);
    opacity: 0.9;
    border: 3px solid black;
}
.dlt:hover{
    background-color: rgb(241, 0, 0);
    border: 3px solid black;
}
