.container {
    max-width: 400px;
    margin:12% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  body{
    background-color: #007bff;
  }
.container p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* This ensures padding is included in the width */
    margin-bottom: 15px;
}

.buttons {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

.buttons:hover {
    background-color: #0056b3;
}

.link {
    text-decoration: none;
}